<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--add club details here filter based on categories give search option add details like club name history major events yearly events stduent and faculty cooordinators executive baord awards-->
</body>
</html>