<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lemon&family=Monoton&family=Montserrat:ital,wght@0,200;0,400;0,500;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
        <div class="socials-bar">
            <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">
                <div class="me-5">
                    <span>Get connected with us on social networks:</span>
                </div>
                <div>
                    <a href="#" class="text-white me-4">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="text-white me-4">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="text-white me-4">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </section>
        </div>
        <section class="">
            <div class=" text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">CampusConnect</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px">
                        <p>
                            CampusConnect:Event Promotion Website<br>
                            Promote your Event with this amazing Platform
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px">
                        <p><i class="fas fa-home mr-3"></i> Hyderabad, TS 500001, IN</p>
                        <p><i class="fas fa-envelope mr-3"></i>campusconnect.queries@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i>9999999999</p>
                        <p><i class="fas fa-print mr-3"></i>8888888888</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-white" href="https://cbit.ac.in/">Cbit</a>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
