.container {
    margin-top: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
